body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  padding: 20px;
}

h1 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 12px;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
  background: #27ae60;
  border: none;
  color: white;
}

.fail {
  color: #e74c3c;
}

.pass {
  color: #2ecc71;
}
